<!-- chat/templates/chat/index.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/index.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{% static 'chat/ckeditor/ckeditor.js' %}"></script>
</head>
<body>
  <div class="nav-menu">
    <ul>
      <li class="active"><a href="">Home</a></li>
      <li><a href="">Questions</a></li>
      <li class="nav-dropdown">
        <a href="" class="dropdown-toggler" >Login/Signup</a></li>
    </ul>
  </div>
    {% block maincontent %}
    {% endblock %}
  </div>
  <!-- Footer -->
 <footer class="page-footer font-small blue" >
  <div class="footer-copyright text-center py-3" >
    © 2021 Copyright:Bijita Kc
  </div>
</footer>
<!-- Footer -->

<script>
  function divtoggle(){
    console.log("works")
    var x = document.getElementById("notifdiv");
    if (x.style.display === "none"){
      console.log("step")
      x.style.display = "block";
    }else{
      x.style.display === "none";
    }
  }
</script>

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>