<!-- chat/templates/chat/index.html -->
{% extends 'chat/base.html'%}
{%load static%}
{% block maincontent %}
    {% for q in posts %}
        <div class="wholecard" >
            <h4>{{q.question}}</h4>
            <i style="font-size: 7px; color: gray; margin-left: 10px;">Asked by {{q.created_by}}</i>
                {% for a in answers %}
                    {% if a.post.id == q.id %}
                    <div class="answercard" >
                        <img src="{% static 'chat/img/user.png' %}" style="height: 30px;width: 30px;border-radius:20px; margin-right: 10px;float: left;">
                        <div class="ansin" >
                            <span style="color:rgb(75, 101, 212);font-size: 9px;">{{a.created_by}}</span>
                            <p style="font-size: 10px;">{{a.answer}}</p></div>
                        <!-- <button  style="color: white;background-color: black;"  onclick="roombuild('{{a.id}}')">Discuss</button>         -->
                    </div>
                    {% endif %}
                
                {% endfor %}
                {%if user.is_authenticated %}
                <form  method="POST">
                        {%csrf_token%}
                        <input hidden value={{q.id}} name="post">
                        <input  hidden value={{user.username}} name="username">
                        <input class="reply"  placeholder="Answer" name="answer">
                        <button class="post" type="submit" >Post</button>
                </form>
                {%endif%}
        </div>
    {% endfor %}
    <script src="{% static 'reconnecting-websocket.js' %}"></script>
    <script>
        function roombuild(roomID){
           var roomName=(Date.now().toString(36) + Math.random().toString(36).substr(2, 5)).toUpperCase()
            window.location.href = '/chat/'+roomName+'?q='+roomID;
            console.log(roomName)
        }
    </script>
 {% endblock %}
</html>