
.wholecard{
    width: 90%;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-top:2.5%;
    margin-bottom:2.5%;
    border: 4px black;
    background-color: rgb(255, 255, 255);
    padding: 5px;    
    box-shadow: 1px 1px 5px black;
}
.answercard{
    width: 90%;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-top:2.5%;
    margin-bottom:2.5%;
    border: 4px;
    background-color: rgb(255, 255, 255);
    padding: 5px;    
    box-shadow: 2px 2px 10px black;
}